/*global style start*/
:root{
    --primary-color: #3c80b4;
    --secondary-color: #7C3AED;
}

body{
    margin: 0;
    background: #0E131F;
}

.bui-navbar{
    background: #0E131F;
    color: red;
}

.bui-navbar-logo{
    font-weight: 900;
}

.bui-container{
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 576px){
    .bui-container{
        max-width: 100%;
    }
}

@media (min-width: 576px){
    .bui-container{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .bui-container{
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .bui-container{
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .bui-container{
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .bui-container{
        max-width: 1320px;
    }
}

.bui-btn-block{
    width: 100%;
}

.bui-quiz-card{
    max-width: 248px;
    background: #19212C;
    color: white;
    border-radius: 15px;
    flex-shrink: 0;
    cursor: pointer;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.bui-quiz-card:hover{
    -webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.bui-quiz-card .bui-card-img-top{
    border-radius: 15px;
}

.bui-quiz-card p{
    color: #78867E;
}

.bui-text-red{
    color: red;
}
/*global style end*/

/*featured quiz by category start*/
.bui-category{
    display: flex;
    flex-direction: column;
    color: white;
}

.bui-category-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bui-category-title p{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.bui-category-title a{
    text-decoration: none;
    color: red;
    border: solid 1px red;
    padding: 5px 10px;
    border-radius: 3px;
}

.bui-category-title a:hover{
    background: red;
    color: white;
}

.bui-category .bui-category-items{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
}

.bui-category .bui-category-items::-webkit-scrollbar {
    height: 5px;
}
  
.bui-category .bui-category-items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.bui-category .bui-category-items::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}
/*featured quiz by category end*/

/*cateogry page start*/
.bui-category-container{
    display: flex;
    flex-direction: column;
    color: white;
}

.bui-category-container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bui-category-container-title p{
    font-size: 18px;
    font-weight: bold;
}

.bui-category-container-title a{
    text-decoration: none;
    color: red;
    border: solid 1px red;
    padding: 5px 10px;
    border-radius: 3px;
}

.bui-category-container-title a:hover{
    background: red;
    color: white;
}

.bui-category-container .bui-category-container-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
.bui-category-container-title{
    justify-content: center;
}

.bui-category-container .bui-category-container-items{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
}

/*category page end*/


/*rules page start*/

/*rules page end*/


/*Quiz start*/
.bui-quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.bui-quiz-header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: gray;
}

.bui-quiz-question{
    margin-bottom: 20px;
}

.bui-quiz-question p{
    font-size: 18px;
}

.bui-quiz-options{
    margin-bottom: 20px;
}

.bui-quiz-options .bui-quiz-option-item{
    background: #19212C;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.bui-quiz-options .bui-quiz-option-item:hover{
    transform: scale(1.01);
}

.bui-quiz-options .bui-quiz-option-item.correct{
    background: #007953;
}

.bui-quiz-options .bui-quiz-option-item.wrong{
    background: #AF1616;
}

.bui-quiz-buttons{
    text-align: center;
}
/*Quiz end*/